$contentClass = '.markdown-body'
$codeBgColor = #f6f8fa

{$contentClass}
  code
    white-space nowrap
    padding 0.25rem 0.5rem
    margin 0
    font-size 0.85em
    background-color rgba(27,31,35,0.05)
    border-radius 3px
    .token
      &.deleted
        color #EC5975
      &.inserted
        color $color-primary

{$contentClass}
  pre, pre[class*="language-"] 
    font-size 14px
    line-height 1.6
    padding 18px 20px
    margin 0.85rem 0
    background-color $codeBgColor
    border-radius 3px
    overflow auto
    font-family SFMono-Regular,Consolas,Liberation Mono,Menlo,"Microsoft Yahei", SimHei, monospace
    code
      white-space pre
      padding 0
      background-color transparent
      border-radius 0

pre[class*="language-"]
  position relative
  background-color $codeBgColor
  border-radius 3px
  // border 1px solid #eaecef

for lang in $codeLang
  div{'[class~="language-' + lang + '"]'}
    &:before
      content ('' + lang)

div[class~="language-javascript"]
  &:before
    content "js"

div[class~="language-typescript"]
  &:before
    content "ts"

div[class~="language-markup"]
  &:before
    content "html"

div[class~="language-markdown"]
  &:before
    content "md"

div[class~="language-json"]:before
  content "json"

div[class~="language-ruby"]:before
  content "rb"

div[class~="language-python"]:before
  content "py"

div[class~="language-bash"]:before
  content "sh"

div[class~="language-php"]:before
  content "php"

.token.punctuation 
  color #a8a9cc

.attr-name
  color #00bec4

.token.parameter
  color #db6400

// .token.tag, .token.attr-name, .token.namespace, .token.deleted
.token.tag, .token.namespace, .token.deleted
  // color #b2085f
  color #DA0037

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable
  // color #42b983
  color #34a853

.token.selector, .token.important, .token.atrule, .token.builtin
  // color #b92dbc
  color #7c4dff

.token.function
  color $color-primary
.token.number
  color #db6400
.token.keyword, .token.boolean
  color #c838c6

// .token.boolean, .token.number, .token.function
//   color #db6400

.token.property, .token.class-name, .token.constant, .token.symbol
  color #3182bd

.token.operator, .token.entity, .token.url
  color #0b7e7d
  
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
  // color #848486
  color #a9a9aa
