$color-primary = #1a73e8;
$color-primary-light = #5d9cef;
$color-primary-dark = #135bb9;

$color-success = #34A853;
$color-success-light = #5db975;
$color-success-dark = #2f974b;

$color-info = #8D93AB;
$color-info-light = #a4a9bc;
$color-info-dark = #7f849a;

$color-warning = #F9B208;
$color-warning-light = #fcc937;
$color-warning-dark = #e0a007;

$color-error = #EA4335;
$color-error-light = #f1877d;
$color-error-dark = #d33c30;

$color-text-primary = #0d0d0d;
$color-text-minor = #606266;
$color-text-looming = #C0C4CC;

$border-color = #cdd1e4;

$font-color = #2c3e50
$navbarHeight = 60px
$sidebarWidth = 320px
// $contentWidth = 740px
$homePageWidth = 1260px;
$navItemPadding = 0 10px;
$transitionTime = 0.25s;

$nav-item-padding = 0 10px;
$transition-time = 0.25s;