$_color-primary = #415fcc;
$_color-primary-light = #7288d9;
$_color-primary-dark = #2b45a1;

$_color-success = #34A853;
$_color-success-light = #5db975;
$_color-success-dark = #2f974b;

$_color-info = #8D93AB;
$_color-info-light = #a4a9bc;
$_color-info-dark = #7f849a;

$_color-warning = #F9B208;
$_color-warning-light = #fcc937;
$_color-warning-dark = #e0a007;

$_color-error = #EA4335;
$_color-error-light = #f1877d;
$_color-error-dark = #d33c30;

$_color-text-primary = #0d0d0d;
$_color-text-minor = #606266;
$_color-text-looming = #C0C4CC;

$_nav-item-padding = 0 10px;
$_nav-item-gap = 10px;
$_transition-time = 0.25s;