:root
  --border-color #cdd1e4
  --font-color #2c3e50
  --navbar-height 60px
  --sidebar-width 320px
  --home-page-width 1260px
  --nav-item-padding 0 10px
  --code-bg-color #f6f8fa
  // --markdown-font-color #1b1f23
  --markdown-font-color var(--font-color)