@require '../common/variable'
@require '../common/transition'
@require '../common/animation'
@require '../mixins/index'

type(base, light, dark)
  --ripple-color base
  color #fff
  background-color base
  &:hover, &:focus
    background-color light
  &:active
    background-color dark
  &.is-loading, &.is-disabled 
    background-color light

type-style(base, light, dark)
  type(base, light, dark)

.tu-button
  position relative
  font-size 14px
  color var(--t-color-text-primary)
  background-color #ffffff
  border none
  border-radius var(--t-border-radius)
  box-sizing border-box
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  flex-wrap nowrap
  white-space nowrap
  transition var(--t-color-transition), var(--t-bg-color-transition)
  padding 0 var(--t-button-padding)
  min-height var(--t-button-height)
  text-decoration none
  line-height 1
  &__content
    display inline-flex
    align-items center
    flex-wrap nowrap
  &__border
    transition var(--t-border-color-transition)
    box-sizing border-box
    width 100%
    border-radius inherit
    pointer-events none
    position-fill()
  &__wave
    wave-effect(wave-spread, wave-opacity)

.tu-button
  &--default
    --ripple-color var(--t-color-primary)
    .tu-button__border
      border 1px solid var(--t-button-border-color)
    &:hover, &:focus
      color var(--t-color-primary)
      .tu-button__border
        border-color var(--t-color-primary)
    &:active
      color var(--t-color-primary-dark)
      .tu-button__border
        border-color var(--t-color-primary-dark)
  &--primary
    type-style(var(--t-color-primary), var(--t-color-primary-light), var(--t-color-primary-dark))
  &--success
    type-style(var(--t-color-success), var(--t-color-success-light), var(--t-color-success-dark))
  &--info
    type-style(var(--t-color-info), var(--t-color-info-light), var(--t-color-info-dark))
  &--warning
    type-style(var(--t-color-warning), var(--t-color-warning-light), var(--t-color-warning-dark))
  &--error
    type-style(var(--t-color-error), var(--t-color-error-light), var(--t-color-error-dark))
  &--small
    padding 0 var(--t-button-small-padding)
    min-height var(--t-button-small-height)
  &__icon
    box-sizing border-box
    width 18px
    height 18px
    display inline-flex
    justify-content center
    align-items center
  .tu-icon
    &--left
      margin-right 4px
      &.is-uncontent
        margin-right 0
    &--right
      order 1
      margin-left 4px
      &.is-uncontent
        margin-left 0
  &__loading-icon
    width 1em
    height 1em