@require '../common/variable'
@require '../common/transition'
@require '../common/animation'
@require '../mixins/index'

type(base, light, dark)
  --ripple-color base
  color #fff
  background-color base
  &:hover, &:focus
    background-color light
  &:active
    background-color dark
  &.is-loading, &.is-disabled 
    background-color light

type-style(base, light, dark)
  type(base, light, dark)

.tu-button
  position relative
  font-size 14px
  color $color-text-primary
  background-color #ffffff
  border none
  border-radius $border-radius
  box-sizing border-box
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  flex-wrap nowrap
  white-space nowrap
  transition transition-effect(color), transition-effect(background-color)
  padding 0 $button-padding
  min-height $button-height
  text-decoration none
  line-height normal
  &__content
    line-height 0.8
    display flex
    align-items center
    flex-wrap nowrap
  &__border
    transition transition-effect(border-color)
    box-sizing border-box
    width 100%
    border-radius inherit
    pointer-events none
    position-fill()
  &__wave
    wave-effect(wave-spread, wave-opacity)

.tu-button
  &--default
    --ripple-color $color-primary
    .tu-button__border
      border 1px solid #dcdfe6
    &:hover, &:focus
      color $color-primary
      .tu-button__border
        border-color $color-primary
    &:active
      color $color-primary-dark
      .tu-button__border
        border-color $color-primary-dark
  &--primary
    type-style($color-primary, $color-primary-light, $color-primary-dark)
  &--success
    type-style($color-success, $color-success-light, $color-success-dark)
  &--info
    type-style($color-info, $color-info-light, $color-info-dark)
  &--warning
    type-style($color-warning, $color-warning-light, $color-warning-dark)
  &--error
    type-style($color-error, $color-error-light, $color-error-dark)

  &--small
    padding 0 $button-small-padding
    height $button-small-height
  
  &__icon
    box-sizing border-box
    width 18px
    height 18px
    display inline-flex
    justify-content center
    align-items center
  .tu-icon
    &--left
      margin-right 4px
      &.is-uncontent
        margin-right 0
    &--right
      order 1
      margin-left 4px
      &.is-uncontent
        margin-left 0
  &__loading-icon
    width 1em
    height 1em