$base-name = '.tu-button'

{$base-name}-group
  display inline-flex
  vertical-align middle
  box-sizing border-box
  & > {$base-name}
    border-radius 0
    &:not(:first-child)
      margin-left -1px
    &:first-child
      border-top-left-radius var(--t-border-radius)
      border-bottom-left-radius var(--t-border-radius)
    &:last-child
      border-top-right-radius var(--t-border-radius)
      border-bottom-right-radius var(--t-border-radius)
    &:hover, &:focus, &:active
      {$base-name}__border
        border-color var(--t-color-primary)
        z-index 1


