@require '../common/transition'
@require '../mixins/index'

.tu-input
  font-size var(--t-font-size)
  font-family inherit
  border 1px solid var(--t-border-color)
  box-sizing border-box
  border-radius var(--t-border-radius)
  padding var(--t-input-padding)
  line-height var(--t-input-line-height)
  transition var(--t-color-transition), var(--t-border-color-transition), var(--t-box-shadow-transition)
  placeholder-color var(--t-input-placeholder-color)
  &:hover
    border-color var(--t-border-color-dark)
  &:focus
    border-color var(--t-color-primary)
    box-shadow var(--t-wave-active-box-shadow)
  &:focus, &:focus-visible
    outline none