@require '../common/transition'
@require '../common/animation'
@require '../mixins/index'

.tu-switch
  cursor pointer
  width calc(var(--t-switch-height) * 2)
  height var(--t-switch-height)
  border none
  border-radius calc(var(--t-switch-height) / 2)
  background-color rgba(0, 0, 0, 0.14)
  transition background-color 0.25s
  transition var(--t-bg-color-transition), var(--t-box-shadow-transition)
  position relative
  --ripple-color #415fcc
  &:focus 
    outline none
    box-shadow var(--t-wave-box-shadow)
  &:hover 
    box-shadow none
  &:active > .tu-switch__core
    width calc(var(--t-switch-core-height) + 4px)
  &.tu-switch--checked 
    background-color #415fcc
    & > .tu-switch__core
      left calc(100% - 18px)
    &:focus 
      box-shadow var(--t-wave-active-box-shadow)
    &:hover 
      box-shadow none
    &:active > .tu-switch__core
      width calc(var(--t-switch-core-height) + 4px)
      margin-left -4px

.tu-switch__core
  width var(--t-switch-core-height)
  height var(--t-switch-core-height)
  border-radius calc(var(--t-switch-core-height) / 2)
  background-color #fff
  box-shadow 0 2px 4px #00230b33
  position absolute
  top 2px
  left 2px
  transition left var(--t-transition-time), margin-left var(--t-transition-time), width var(--t-transition-time)

.tu-switch__wave
  wave-effect(large-wave-spread, large-wave-opacity)