@require '../common/animation'
@require '../mixins/index'

$base-name = '.tu-switch'

size(height)
  min-width calc(height * 2)
  height height
  border-radius calc(height / 2)
  --t-switch-core-height calc(height - 4px)

{$base-name}
  border none
  cursor pointer
  min-width calc(var(--t-switch-height) * 2)
  height var(--t-switch-height)
  border-radius calc(var(--t-switch-height) / 2)
  background-color var(--t-switch-bg-color)
  position relative
  padding 0
  transition var(--t-bg-color-transition), var(--t-box-shadow-transition)
  --ripple-color var(--t-color-primary)
  &:focus
    outline none
    box-shadow var(--t-wave-box-shadow)
  &:hover
    box-shadow none
  &:active > {$base-name}__core
    width calc(var(--t-switch-core-height) + 4px)

  &__content
    display flex
    overflow hidden
    position relative
    padding 0 10px
    height 100%
    border-radius inherit

  &__checked, &__unchecked
    color #fff
    display flex
    align-items center
    height 100%
    transition transform var(--t-transition-time)
  &__checked
    padding-right calc(var(--t-switch-core-height) - 2px)
    transform translateX(-100%)
  &__unchecked
    position absolute
    top 0
    bottom 0
    padding-left calc(var(--t-switch-core-height) - 2px)
    transform translateX(0)

  &{$base-name}--checked
    background-color var(--t-switch-active-bg-color)
    & > {$base-name}__core
      left calc(100% - var(--t-switch-height) + 2px)
    &:focus
      box-shadow var(--t-wave-active-box-shadow)
    &:hover
      box-shadow none
    &:active > {$base-name}__core
      width calc(var(--t-switch-core-height) + 4px)
      margin-left -4px

    {$base-name}__checked
      transform translateX(0)
    {$base-name}__unchecked
      transform translateX(100%)

  &__core
    width var(--t-switch-core-height)
    height var(--t-switch-core-height)
    border-radius calc(var(--t-switch-core-height) / 2)
    background-color #fff
    box-shadow 0 2px 4px #00230b33
    position absolute
    top 2px
    left 2px
    transition left var(--t-transition-time), margin-left var(--t-transition-time), width var(--t-transition-time)

  &__wave
    wave-effect(large-wave-spread, large-wave-opacity)

  &--small
    min-width calc(var(--t-switch-small-height) * 2)
    height var(--t-switch-small-height)
    border-radius calc(var(--t-switch-small-height) / 2)
    --t-switch-core-height calc(var(--t-switch-small-height) - 4px)

    &{$base-name}--checked > {$base-name}__core
      left calc(100% - var(--t-switch-small-height) + 2px)

  &--large
    min-width calc(var(--t-switch-large-height) * 2)
    height var(--t-switch-large-height)
    border-radius calc(var(--t-switch-large-height) / 2)
    --t-switch-core-height calc(var(--t-switch-large-height) - 4px)

    &{$base-name}--checked > {$base-name}__core
      left calc(100% - var(--t-switch-large-height) + 2px)


