// $transition-duration = 0.25s;
// $transition-timing-function = cubic-bezier(.645,.045,.355,1);

/* --- 默认过渡效果 */
transition-effect(property)
  return property var(--t-transition-time) var(--t-transition-effect)
