/** 主题色 - 深蓝色 */
// $color-primary = #415fcc;
// $color-primary-light = #7288d9;
// $color-primary-dark = #2b45a1;

/** 主题色 - 浅蓝色 */
// $color-primary = #349dfd;
// $color-primary-light = #81c2fe;
// $color-primary-dark = #0278e3;

/** 主题色 - 紫色 */
// $color-primary = #543dc2;
// $color-primary-light = #8777d4;
// $color-primary-dark = #3b2b88;

/** 主题色 - 正蓝色 */
$color-primary = #1a73e8;
$color-primary-light = #5d9cef;
$color-primary-dark = #135bb9;


$color-success = #34A853;
$color-success-light = #5db975;
$color-success-dark = #2f974b;

$color-info = #8D93AB;
$color-info-light = #a4a9bc;
$color-info-dark = #7f849a;

$color-warning = #F9B208;
$color-warning-light = #fcc937;
$color-warning-dark = #e0a007;

$color-error = #EA4335;
$color-error-light = #f1877d;
$color-error-dark = #d33c30;

$color-text-primary = #0d0d0d;
$color-text-minor = #606266;
$color-text-looming = #C0C4CC;

$wave-box-shadow = 0 0 0 2.2px rgba(0, 0, 0, 0.05);
$wave-active-box-shadow = 0 0 0 2.2px rgba(68, 99, 209, 0.2);

$font-size = 14px;
$font-size-small = 12px;
$icon-size = $font-size;

$border-color = #cdd1e4;
$border-color-light = #e4e5e9;
$border-color-dark = #9ca3af;

$border-radius = 3px;
$border-radius-round = 18px;
$border-radius-small-round = 16px;
$border-radius-small-circle = 16px;
$border-radius-big-round = 20px;
$border-radius-big-circle = 20px;

/* Button default */
$button-height = 36px;
$button-border-radius = $border-radius;
$button-padding = 16px;
$button-padding-round = 21px;
$button-padding-circle = 10px;

/* Button small */
$button-small-height = 32px;
$button-small-padding = 14px;
$button-small-padding-round = 18px;
$button-small-padding-circle = 8px;

/* Button big */
$button-big-height = 40px;
$button-big-padding = 18px;
$button-big-padding-round = 20px;
$button-big-padding-circle = 12px;

/* -- Input */
$input-padding = 0 14px;
$input-line-height = 34px;
$input-placeholder-color = #C0C4CC;
$input-disabled-bg-color = #f3f4f6;
$textarea-line-height = 1.5;
$textarea-padding = 6px 14px;

/* Dialog */
$dialog-border-radius = $border-radius;

/* Switch */